# Prerequisites
.DS_Store
*.d
*.idea

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/docs/html/search/all_0.html
/docs/html/search/all_0.js
/docs/html/search/all_1.html
/docs/html/search/all_1.js
/docs/html/search/all_2.html
/docs/html/search/all_2.js
/docs/html/search/all_3.html
/docs/html/search/all_3.js
/docs/html/search/all_4.html
/docs/html/search/all_4.js
/docs/html/search/all_5.html
/docs/html/search/all_5.js
/docs/html/search/all_6.html
/docs/html/search/all_6.js
/docs/html/search/all_7.html
/docs/html/search/all_7.js
/docs/html/search/all_8.html
/docs/html/search/all_8.js
/docs/html/search/all_9.html
/docs/html/search/all_9.js
/docs/html/annotated.html
/docs/latex/annotated.tex
/cmake-build-debug/array.txt
/docs/html/array_8h_source.html
/docs/latex/array_8h_source.tex
/docs/html/array__display_8h_source.html
/docs/latex/array__display_8h_source.tex
/docs/html/bc_s.png
/docs/html/bdwn.png
/binaries/CMakeFiles/doxygen.dir/build.make
/binaries/CMakeFiles/OwnExcel.dir/build.make
/cmake-build-debug/CMakeFiles/doxygen.dir/build.make
/cmake-build-debug/CMakeFiles/OwnExcel.dir/build.make
/CMakeFiles/doxygen.dir/build.make
/CMakeFiles/OwnExcel.dir/build.make
/docs/html/classArray.html
/docs/latex/classArray.tex
/docs/html/classArray-members.html
/docs/html/classes.html
/docs/html/search/classes_0.html
/docs/html/search/classes_0.js
/docs/html/search/classes_1.html
/docs/html/search/classes_1.js
/docs/html/search/classes_2.html
/docs/html/search/classes_2.js
/docs/html/classIdentifier.html
/docs/latex/classIdentifier.tex
/docs/html/classIdentifier-members.html
/docs/html/classMenu.html
/docs/latex/classMenu.tex
/docs/html/classMenu-members.html
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/docs/html/search/close.png
/docs/html/closed.png
/binaries/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/cmake.check_cache
/CMakeFiles/cmake.check_cache
/binaries/CMakeFiles/doxygen.dir/cmake_clean.cmake
/binaries/CMakeFiles/OwnExcel.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/doxygen.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/OwnExcel.dir/cmake_clean.cmake
/CMakeFiles/doxygen.dir/cmake_clean.cmake
/CMakeFiles/OwnExcel.dir/cmake_clean.cmake
/binaries/CMakeFiles/cmake_directory_clean.cmake
/cmake-build-debug/CMakeFiles/cmake_directory_clean.cmake
/CMakeFiles/cmake_directory_clean.cmake
/binaries/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/binaries/CMakeCache.txt
/cmake-build-debug/CMakeCache.txt
/binaries/CMakeFiles/3.16.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
/CMakeFiles/3.16.3/CMakeCCompiler.cmake
/binaries/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
/binaries/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
/binaries/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/binaries/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
/binaries/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
/binaries/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/CMakeDirectoryInformation.cmake
/binaries/CMakeDoxyfile.in
/cmake-build-debug/CMakeDoxyfile.in
/binaries/CMakeDoxygenDefaults.cmake
/cmake-build-debug/CMakeDoxygenDefaults.cmake
/binaries/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/CMakeFiles/CMakeOutput.log
/binaries/CMakeFiles/CMakeRuleHashes.txt
/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
/CMakeFiles/CMakeRuleHashes.txt
/binaries/CMakeFiles/3.16.3/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.17.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
/CMakeFiles/3.16.3/CMakeSystem.cmake
/binaries/CMakeFiles/OwnExcel.dir/CXX.includecache
/cmake-build-debug/CMakeFiles/OwnExcel.dir/CXX.includecache
/binaries/CMakeFiles/OwnExcel.dir/depend.internal
/cmake-build-debug/CMakeFiles/doxygen.dir/depend.internal
/cmake-build-debug/CMakeFiles/OwnExcel.dir/depend.internal
/binaries/CMakeFiles/OwnExcel.dir/depend.make
/cmake-build-debug/CMakeFiles/doxygen.dir/depend.make
/cmake-build-debug/CMakeFiles/OwnExcel.dir/depend.make
/CMakeFiles/OwnExcel.dir/depend.make
/binaries/CMakeFiles/doxygen.dir/DependInfo.cmake
/binaries/CMakeFiles/OwnExcel.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/doxygen.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/OwnExcel.dir/DependInfo.cmake
/CMakeFiles/doxygen.dir/DependInfo.cmake
/CMakeFiles/OwnExcel.dir/DependInfo.cmake
/docs/html/dir_678b6df64b106361044942404e2d9c6e.html
/docs/html/dir_22305cb0964bbe63c21991dd2265ce48.html
/docs/html/dir_a2ed51f7c7095589dc0c78a28547d1d4.html
/docs/html/doc.png
/binaries/Doxyfile.doxygen
/cmake-build-debug/Doxyfile.doxygen
/docs/html/doxygen.css
/docs/html/doxygen.png
/docs/latex/doxygen.sty
/docs/html/dynsections.js
/docs/html/files.html
/binaries/CMakeFiles/OwnExcel.dir/flags.make
/cmake-build-debug/CMakeFiles/OwnExcel.dir/flags.make
/CMakeFiles/OwnExcel.dir/flags.make
/docs/html/folderclosed.png
/docs/html/folderopen.png
/docs/html/functions.html
/docs/html/search/functions_0.html
/docs/html/search/functions_0.js
/docs/html/search/functions_1.html
/docs/html/search/functions_1.js
/docs/html/search/functions_2.html
/docs/html/search/functions_2.js
/docs/html/search/functions_3.html
/docs/html/search/functions_3.js
/docs/html/search/functions_4.html
/docs/html/search/functions_4.js
/docs/html/search/functions_5.html
/docs/html/search/functions_5.js
/docs/html/search/functions_6.html
/docs/html/search/functions_6.js
/docs/html/search/functions_7.html
/docs/html/search/functions_7.js
/docs/html/functions_func.html
/docs/html/functions_vars.html
/docs/html/graph_legend.html
/docs/html/graph_legend.md5
/docs/html/graph_legend.png
/docs/html/Identifier_8h_source.html
/docs/latex/Identifier_8h_source.tex
/docs/html/index.html
/docs/html/jquery.js
/cmake-build-debug/Testing/Temporary/LastTest.log
/binaries/CMakeFiles/OwnExcel.dir/link.txt
/cmake-build-debug/CMakeFiles/OwnExcel.dir/link.txt
/CMakeFiles/OwnExcel.dir/link.txt
/docs/latex/longtable_doxygen.sty
/docs/html/search/mag_sel.png
/docs/html/main_8h_source.html
/docs/latex/main_8h_source.tex
/binaries/Makefile
/cmake-build-debug/Makefile
/docs/latex/Makefile
/binaries/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile.cmake
/CMakeFiles/Makefile.cmake
/binaries/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/Makefile2
/CMakeFiles/Makefile2
/docs/html/md_README.html
/docs/latex/md_README.tex
/docs/html/menu.js
/docs/html/menu_8h_source.html
/docs/latex/menu_8h_source.tex
/docs/html/menudata.js
/docs/html/nav_f.png
/docs/html/nav_g.png
/docs/html/nav_h.png
/docs/html/search/nomatches.html
/docs/html/open.png
/binaries/OwnExcel
/cmake-build-debug/OwnExcel
/cmake-build-debug/OwnExcel.cbp
/docs/html/pages.html
/docs/html/search/pages_0.html
/docs/html/search/pages_0.js
/binaries/CMakeFiles/doxygen.dir/progress.make
/binaries/CMakeFiles/OwnExcel.dir/progress.make
/cmake-build-debug/CMakeFiles/doxygen.dir/progress.make
/cmake-build-debug/CMakeFiles/OwnExcel.dir/progress.make
/CMakeFiles/doxygen.dir/progress.make
/CMakeFiles/OwnExcel.dir/progress.make
/binaries/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/progress.marks
/CMakeFiles/progress.marks
/docs/latex/refman.aux
/docs/latex/refman.idx
/docs/latex/refman.ilg
/docs/latex/refman.ind
/docs/latex/refman.log
/docs/latex/refman.tex
/docs/latex/refman.toc
/docs/html/search/search.css
/docs/html/search/search.js
/docs/html/search/search_l.png
/docs/html/search/search_m.png
/docs/html/search/search_r.png
/docs/html/search/searchdata.js
/docs/html/splitbar.png
/docs/html/sync_off.png
/docs/html/sync_on.png
/docs/html/tab_a.png
/docs/html/tab_b.png
/docs/html/tab_h.png
/docs/html/tab_s.png
/docs/html/tabs.css
/docs/latex/tabu_doxygen.sty
/binaries/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CMakeFiles/TargetDirectories.txt
/docs/html/search/variables_0.html
/docs/html/search/variables_0.js
